<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer section admin</title>
</head>
<body>
    <div>
        <div class="container footer--flex">
            <div class="footer-start">
              <p>
                2025 © PB Dương - Netflix Clone <hr>
                FB: 
                <a href="https://www.facebook.com/P.B.Duong2K4BMT" target="_blank" rel="noopener noreferrer">facebook.com/P.B.Duong2K4BMT</a>
              </p>
            </div>
            <ul class="footer-end">
              <li><a href="/about">About</a></li>
              <li><a href="/support">Support</a></li>
              <li><a href="/purchase">Purchase</a></li>
            </ul>
        </div>
    </div>
</body>
</html>